body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background-color: #404040;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
}
.small-container {
  max-width: 500px;
}
.signin-form {
  max-width: 500px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
/* .checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
} */
/* .search-btn {
  padding: 1rem;
  background-color: #03270e;
} */
/* .search-btn {
  background-color: #000000;
  color: #03270e;
}
.btn-primary,
.btn-outline-primary {
  background-color: #000000;
  color: #03270e;
} */

/* .btn {
  border: 2px solid black;
  background-color: white;
  color: rgb(4, 15, 4);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
} */
.btn-search {
  border-color: #0f0f0f;
  color: #0f0f0f;
}
.nav-link {
  color: #fff;
}
.site-container {
  min-height: 100vh;
}
.order {
  margin-top: 1rem;
}
/* .profile-container {
  max-width: 600px;
  padding: 1px;
} */
main {
  flex: 1;
}
.product-a {
  text-decoration: none;
  text-align: center;
  color: #797272;
}
.card-img-top {
  padding: 1rem;
}
span {
  color: #ffc000;
}
.img-large {
  max-width: 100%;
}
.rating .products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  border: 1px #f0eeee solid;
  margin: 1rem;
  border-radius: 4px;
}
.product img {
  padding: 1rem;
  width: 100%;
  max-width: 200px;
}
.product-info {
  color: #a19a9a;
  padding: 1rem;
  font-size: 1rem;
}
.container-slider {
  text-align: center;
  text-transform: uppercase;
  background-color: #404040;
  color: #fff;
  margin: 1.3rem;
}
.slider-productInfo {
  padding: 1rem;
}
.slider-productInfo img {
  border-radius: 50%;
  width: 100%;
  padding: 0.5rem;
  max-width: 15rem;
}
